[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
beautifulsoup4 = "*"
markdown = "*"
pandarallel = "*"
scikit-learn = "*"
spacy = "*"
torch = "*"
tqdm = "*"
torchmetrics = "*"
typer = "*"
transformers = "*"
imbalanced-learn = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.8"
